################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TelegramGame/obj
/TelegramGame.Lib/obj
